# ----------------------------
# Python
# ----------------------------

backend/.venv/

__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.py[cod]
*$py.class

# ----------------------------
# Environment variables
# ----------------------------

backend/.env
backend/.env.*

# ----------------------------
# IDE
# ----------------------------

.vscode/
.idea/

# ----------------------------
# Operating System
# ----------------------------

.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------

*.log

# ----------------------------
# Coverage
# ----------------------------

.coverage
htmlcov/

# ----------------------------
# Build
# ----------------------------

build/
dist/
*.egg-info/

# ----------------------------
# Jupyter
# ----------------------------

.ipynb_checkpoints/