# ==========================================================
# HARTSEER ANALYTICS
# Environment Configuration
# ==========================================================

# Application environment:
# development | production

ENVIRONMENT=development
DEBUG=True

# Database connection

DB_HOST=localhost
DB_PORT=3306
DB_NAME=hartseer_analytics_db
DB_USER=change_me
DB_PASSWORD=change_me